/*шрифты*/
@font-face {
	font-family: 'Oceanic TRIAL Medium'; 
	src: local('Oceanic TRIAL Medium'),
		url(./TRIAL_Oceanic-Medium-BF6487cfe5e2078.otf); 
}
@font-face {
	font-family: 'Oceanic TRIAL Regular'; 
	src: local('Oceanic TRIAL Regular'),
		url(./TRIAL_Oceanic-Regular-BF6487cfe600a81.otf); 
}
@font-face {
	font-family: 'Gilroy'; 
	src: local('Gilroy'),
		url(./Gilroy-Light.otf); 

body {
    background-color: #011845;
    margin: 0;
    padding: 0;
}

/* Шапка */
header {
    background-color: #011845;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 82px;
    gap: 100px;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px ;
}

.container {
    display: flex;
    justify-content: space-between; 
}

.field {
    display: flex;
    gap: 200px;
}

.logo {
    display: flex;
    justify-content: left;
    width: 151px;
    height: 59px;
    padding: 10px;
}

.hello {
    font-family: 'Oceanic TRIAL Regular';
    color: #E8EDFF;
    font-size: 28px;
    line-height: 39.2px;
    font-weight: 400;   
}

h1 {
    font-family: 'Oceanic TRIAL Regular';
    color: #E8EDFF;
    font-size: 28px;
    line-height: 39.2px;
    font-weight: 400;
}

.menu {
    display: flex;
    width: 700px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 36px;
    justify-items: center;
}

.item {
    display: flex;
    height: 42px;
    width: 110px;
    padding: 10px;
}

.item1 {
    display: flex;
    height: 42px;
    width: 145px;
    padding: 10px;
}

.menu_item{
    color: #E8EDFF;
    line-height: 22.4px;
    font-size: 16px;
    font-family: 'Gilroy';
    font-weight: 400;
}

/*.basket {
    display: flex;
    justify-content: right;
    height: 56px;
    width: 56px;
    padding: 10px;
    gap: 20px;
} */

.mimi {
    display: flex;
    justify-content: right;
    height: 56px;
    width: 56px;
    padding: 10px;
    gap: 20px;
}

.bag {
    height: 33.3px;
    width: 27px;
    right: 0;
    position: relative; 
    top: 0; 
}

.banner {
    height: auto;
}

.logo2 {
    font-family: 'Oceanic TRIAL Medium';
    text-align: center;
    font-size: 256px;
    font-weight: 400;
    color: #496192;
}

.fish_rest {
    height: 100px;
    margin-left: 120px;
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restaurant {
    display: flex;
    justify-items: right;
}

button {
    font-family: 'Gilroy';
    font-size: 24px;
}

h2 {
    font-family: 'Oceanic TRIAL Medium';
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    color: #E8EDFF;
}

.krevetka {
    position: absolute;
    width: 220px;
    height: 580.98px;
    z-index: 1;
    margin-left: 40%;
    filter: drop-shadow(0px 0px 200px rgb(255, 255, 255));
}

.info {
    position: relative;
    width: 1200px;
    height: 189px;
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    justify-content: space-between;
}

.info1 {
    width: 370px;
    height: 189px;
    display: flex;
    gap: 40px;
    flex-direction: column
}

.info_1 {
    font-family: 'Gilroy';
    width: 370px;
    height: 75px;
    font-weight: 400;
    font-size: 18px;
    color: #E8EDFF;
}

.info2 {
    width: 44px;
    height: 44px;
    left: 0;
}

.info_2 {
    color: #E8EDFF;
    font-family: 'Gilroy';
    width: 319px;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
}

.start {
    color: #E8EDFF;
    width: 285px;
    height: 74px;
    padding: 20px;
    display: flex;
    gap : 10px;
    background-color: #E9663D;
    font-weight: 500;
    line-height: 33.6px;
    align-items: center;
    justify-content: center
}

.fish_and_delivery {
    width: 387px;
    height: 130px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: absolute; 
    top: 0;   
    right: 0; 
    left: 950px;         
}

.fish, .delivery {
    width: 387px;
    height: 50px;
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;
}

.about {
    width: 1200px;
    height: 650px;
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 120px;
}

.tytle {
    width: 1200px;
    height: 100px;
}

.fish_fish {
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 50px;
}

.fish_fish1 {
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 250px;
}

.fish_fish2 {
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 100px;
}

.caption {
    font-family: 'Gilroy';
    color: #E8EDFF;
    width: 82px;
    height: 17px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;
}

.history1, .history2 {
    font-family: 'Oceanic TRIAL Medium';
    font-size: 56px;
    font-weight: 500;
    color: #E8EDFF;
    line-height: 58.8px;
}

.history1 {
    margin-left: 120px;
    text-align: left;
}

.history2 {
    width: 100%;
    margin-top: 0px;
    text-align: left;
}

.history_1 {
    width: 100%;
}

.history_2 {
    width: 100%;
}

.history_0 {
    width: 90px;
    height: auto;
}

.about_text {
    width: 488px;
    height: 195px;
    left: 120px;
    display: flex;
    gap: 20px;
    margin-top: 100px;
    flex-direction: column;
}

.t {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    color: #E8EDFF;
}

.know_more {
    background-color: #011845;
    margin-top: 80px;
    width: 285px;
    height: 74px;
    left: 120px;
    padding: 20px;
    display: flex;
    gap : 10px;
    color: #E8EDFF;
    border: 1px solid #E8EDFF;
    font-weight: 500;
    line-height: 33.6px;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(-150px 0px 200px rgb(255, 255, 255));
}

.know_more1 {
    margin-top: 80px;
    width: 285px;
    height: 74px;
    left: 120px;
    padding: 20px;
    display: flex;
    gap : 10px;
    background-color: #011845;
    color: #E8EDFF;
    border: 1px solid #E8EDFF;
    font-weight: 500;
    line-height: 33.6px;
    align-items: center;
    justify-content: center;
}

.krutoi_muzhchina {
    width: 647px;
    height: 400px;
    position: absolute; 
    bottom: 0; 
    right: 200px;
    top: 1260px
}
.osnovnoe_menu {
    display: flex;
    flex-direction: column;
    height: 722px;
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    width: 100%;
}

.dishes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    background-color: #496192;
    align-items: center;
    height: 391px;
    left: 120px;
}

.about_dish {
    transform: translateY(-90px);
    grid-column: 1;
    margin-left: 200px;
    width: 386px;
    height: 291px;
    display: flex;
    flex-direction: column;
}

h3 {
    font-family: 'Oceanic TRIAL Regular';
    color: #E8EDFF;
    font-weight: 400;
    font-size: 36px;
    text-align: left;
}

.structure {
    font-family: 'Gilroy';
    height: 88px;
    font-weight: 400;
    font-size: 18px;
    color: #E8EDFF;
}

.sostav1 {
    font-family: 'Gilroy';
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #E8EDFF;
}
	
.price_weight {
    display: grid;
    grid-template-columns: auto auto;
    width: 386px;
    height: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
    font-family: 'Gilroy';
    color: #E8EDFF;
}

.price {
    font-weight: 600;
    font-size: 18px;
}

.weight {
    font-weight: 400;
    font-size: 12px;
}

.dish {
    transform: translateY(-50px);
    grid-column: 2;
    width: 480px;
    height: 480px;
    left: 617px;
    border-radius: 1000px;
}

.strelka_1 {
    width: 7px;
    height: 14px;
    transform: translate(100px, 180px);
}

.strelka_2 {
    width: 21px;
    height: 25px;
    transform: translate(620px, 180px);
}

.go_menu {
    display: flex;
    justify-content: center;
}

.ab_delivery {
    height: 700px;
    margin-top: 220px;
    margin-left: 120px;
    margin-right: 120px;
}
.pluses {
    margin-top: 120px;
    width: 290px;
    height: 430px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

h4 {
    margin-bottom: 0px;
    font-family: 'Oceanic TRIAL Regular';
    color: #E8EDFF;
    font-size: 24px;
    font-weight: 400;
}

.min {
    margin-bottom: 0px;
}

.num1 {
    width: 320px;
    height: 201px;
    display: flex;
    flex-direction: column;
}

.num2 {
    margin-top: 70px;
    width: 320px;
    height: 147px;
    display: flex;
    flex-direction: column;
}

.deliv {
    width: 550px;
    height: 400px;
    margin-left: 470px;
    transform: translateY(-380px);
    filter: drop-shadow(0px 0px 150px rgba(255, 255, 255, 0.261));
}

.num3 {
    width: 320px;
    height: 251px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    transform: translate(1020px, -740px);
}

.review {
    height: 524px;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.pride {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 665px;
    height: 88px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    color: #E8EDFF;
    margin-left: 45%;
    margin-top: 150px;
}

.znaki {
    display: flex;
    flex-direction: row;
    margin-top: 180px;
    align-items: center;
    bottom: 0;
    margin-right: 10px;
    width: 630px;
    height: 87px;
    justify-content: right;
}

.strelka_1 {
    width: 15px;
    height: 15px;
}

.strelka_2 {
    margin-left: 35px;
    width: 25px;
    height: 25px;
}

.photos {
    height: 260px;
    right: 120px;
    left: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.click {
    width: 180px;
    display: flex;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9663D;
    filter: drop-shadow(-150px 0px 200px rgba(255, 255, 255, 0.672));
}

.click_info {
    width: 132px;
    height: 144px;
}

.click_text {
    width: 135px;
    height: 54px;
    text-align: center;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    color: #E8EDFF;
}

.discount {
    display: flex;
    flex-direction: column;
    height: 722px;
    margin-top: 200px;
    margin-left: 120px;
    margin-right: 120px;
}

.disk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
    background-color: #496192;
    align-items: center;
    height: 391px;
    left: 120px;
}

.strel {
    width: 86px;
    height: 74px;
    display: flex;
    margin-left: 30px;
}

.client1, client2, client3, client4, client5 {
    width: 180px;
    height: 260px;
    object-fit: cover;
    margin-left: 20px;
}

.order {
    margin-top: 0;
    height: 88px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    color: #E8EDFF;
}

.strel1 {
    width: 7px;
    height: 14px;
    transform: translate(100px, 190px);
}

.strel2 {
    width: 21px;
    height: 25px;
    transform: translate(620px, 190px);
}

.reservation {
    display: flex;
    flex-direction: column;
    height: 722px;
    margin-top: 150px;
    margin-left: 120px;
    margin-right: 120px;
    gap: 20px;
}

fieldset {
    margin-top: 150px;
    border: 0;
}

.registration1 {
    width: 580px;
    height: 93px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.one {
    border: 1px solid #E8EDFF;
    background-color: #011845;
    width: 285px;
    height: 60px;
    margin-top: 10px;
}

label {
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    color: #E8EDFF;
}

.registration2 {
    width: 580px;
    height: 93px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.two {
    border: 1px solid #E8EDFF;
    background-color: #011845;
    width: 183px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.registration3 {
    width: 580px;
    height: 210px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.three {
    border: 1px solid #E8EDFF;
    background-color: #011845;
    width: 580px;
    height: 177px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reserv {
    filter: drop-shadow(-350px 200px 200px rgba(255, 255, 255, 0.6));
    margin-top: 30px;
    width: 590px;
    height: 74px;
    padding: 20px;
    display: flex;
    gap : 10px;
    background-color: #E9663D;
    color: #E8EDFF;
    font-weight: 500;
    line-height: 33.6px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.dish3 {
    width: 580px;
    height: 470px;
    margin-left: 750px;
    position: absolute; 
    top: 5625px; 
    right: 250px;
}

.media {
    display: flex;
    flex-direction: row;
}

.contact {
    display: flex;
    flex-direction: column;
    height: 900px;
    margin-top: 250px;
    margin-left: 120px;
    margin-right: 120px;
}

.photo_napitochki {
    margin-top: 150px;
    width: 550px;
    height: 470px;
}

.napitochki {
    width: 550px;
    height: 600px;
    object-fit: cover;
}

.questions {
    margin-top: 115px;
    margin-left: 220px;
    width: 486px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact1 {
    width: 183px;
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contact2 {
    width: 210px;
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contact3 {
    width: 300px;
    height: 28px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.contact4 {
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.phone {
    width: 28px;
    height: 28px;
}

.email {
    width: 205px;
    height: 30px;
}

.adress {
    width: 263px;
    height: 82px;
    display: flex;
    flex-direction: column;
}

.adres {
    width: 22px;
    height: 28px;
}

.soc {
    margin-top: 70px;
}

.instagram, .telegram, .vk, .youtube {
    width: 60px;
    height: 60px;
}

footer {
    width: auto;
    margin-top: 200px;
    height: 637px;
    background-color: #496192;
    padding-top: 60px;
    padding-right: 120px;
    padding-bottom: 60px;
    padding-left: 120px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.about_rest {
    grid-row: 1;
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.r {
    margin-top: 0;
}

.st {
    grid-column: 1;
}

.en {
    position: absolute;
    right: 220px;
    grid-column: 2;
    justify-items: right;
}

.rest {
    margin-left: 150px;
    grid-column: 2;
    width: 300px;
    height: 169px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rest1 {
    margin-left: 200px;
    grid-column: 3;
    width: 400px;
    height: 169px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.name_rest {
    grid-row: 2;
    width: 1200px;
    height: 250px;
    opacity: 30%;
}

.nn {
    text-align: center;
    font-family: 'Oceanic TRIAL Medium';
    font-size: 256px;
    font-weight: 400;
    color: #011845;
    margin-left: 100px;
}

.end {
    grid-row: 3;
    margin-top: 50px;
    width: 1200px;
    height: 25px;
    display: grid;
    grid-template-columns: auto auto;
}
	
.burger-icon {
    display: none;
}

@media (max-width: 1024px) and (min-width: 400px){
 body {
    overflow-x: hidden;
 }
 header {
    margin: 0 auto;
    padding: 10px 7%;
    width: 100%;
    height: 79px;
    padding-left: 7%;
 }
 .field {
    width: 720px;
    gap: 75%;
 }
 .menu {
    display: none;
 }   
 .mimi {
    display: none;
 } 
 .logo {
    width: 151px;
    height: 56px;
    padding: 10px;
    gap: 22px
 }
 .hello {
    width: 131px;
    height: 39px;
    font-weight: 400;
    font-size: 28px;
 }
 .burger-icon {
    display: block;
    width: 46px;
    height: auto;
    margin-top: 31px;
    margin-left: 10%;
    gap: 8px;
    display: flex;
    justify-content: right;
    padding: 10px;
    gap: 20px;
}
.disk {
    width: 90%;
}
.banner {
    width: 740px;
    height: 469px;
    margin-top: 97px;
    margin-left: 7%;
}
.krevetka {
    width: 15%;
    height: auto;
    min-width: 150px;
    margin-top: 6px;
    margin-left: 310px;
    filter: drop-shadow(0px 0px 150px rgb(255, 255, 255));
}
.logo2 {
    font-size: 158px;
}
h2 {
    font-size: 52px;
}
.fish_rest {
    gap: 190px;
    margin-left: 40px;
}
.info {
    width: 740px;
    height: 182px;
    margin-top: 35px;
    margin-left: 12px;
    justify-content: space-between;
}
.info1 {
    width: 240px;
    height: 182px;
    gap: 30px;
}
.info_1 {
    width: 240px;
    height: 95px;
    font-size: 16px;
}
.start {
    width: 240px;
    height: 57px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 10px;
    font-size: 18px;
}
.fish_and_delivery {
    left: 500px;
    width: 240px;
    height: 163px;
    gap: 30px;
}
.fish, .delivery {
    width: 240px;
    height: 76px;
    gap: 10px;
}
.info_2 {
    font-size: 16px;
}
.about {
    margin-right: 0;
    width: 740px;
    height: 445px;
    margin-left: 7%;
}
.fish_fish1 {
    margin-top: 0px;
}
.caption {
    font-size: 10px;
}
.history1, .history2 {
    font-size: 3.5vw;
    line-height: 30px;
    margin-left: 0;
    width: 90%;
}
.history_2 {
    width: auto;
}
.history_1 {
    width: 740px;
}
.about_text {
    width: 300px;
    height: 280px;
    margin-top: 50px;
    gap: 0px;
}
.part1, .part2 {
    width: 300px;
    height: auto;
}
.t {
    font-size: 16px;
}
.know_more {
    width: 285px;
    height: 57px;
    font-size: 18px;
    margin-top: 0px;
}
.krutoi_muzhchina {
    width: 400px;
    height: auto;
    left: 400px;
    top: 950px;
}
.osnovnoe_menu {
    width: 100%;
    min-width: 800px;
    height: 600px;
    left: 142px;
    margin-right: 0;
    margin-left: 7%;
}
.dishes {
    width: 90%;
    height: 360px;
    left: 142px;
    margin-top: 100px;
    align-items:normal;
    grid-template-columns: 1fr 1fr;
}
.about_dish {
    grid-column: 1;
    width: 231px;
    height: 268px;
    margin-left: 75px;
    margin-top: 75px;
}
.price_weight {
    width: 231px;
    height: auto;
}
h3 {
    font-size: 26px;
}
.structure {
    font-size: 16px;
}
.price {
    font-size: 16px;
}
.weight {
    font-size: 12px;
}
.strelka_1 {
    transform: translate(20px, 180px);
}
.dish {
    grid-column: 2;
    width: 100%;
    min-width: 200px;
    height: auto;
    margin-right: 40px;
    transform: translate(-8%, -13%);
}
.media {
    gap: 50px
}
.strelka_2 {
    transform: translate(42vw, 182px);
    position: relative;
}
.go_menu {
    height: 50px;
}
.know_more1 {
    margin-top: 50px;
    font-size: 20px;
    height: 60px;
}
.pluses {
    margin-top: 20px;
}
.one-two {
    margin-top: 450px;
    width: 320px;
    margin-left: 30px;
}
.deliv {
    width: 700px;
    height: auto;
    margin-left: 0;
    transform: translate(10px, -400px);
}
.num3 {
    transform: translate(430px, -340px);
    margin-left: 0;
}
.min, h4 {
    font-size: 26px;
}
.structure_1 {
    font-size: 16px;
}
.ab_delivery{
    width: 740px;
    height: 1100px;
    margin-right: 0;
    margin-left: 7%;
}
.num2 {
    margin-top: 30px;
}
.text_cont {
    width: 740px;
    height: 250px;
}
.photos {
    width: 740px;
}
.client4, .client5 {
    display: none;
} 
.gord {
    margin-top: 100px;
    margin-left: 30%;
}
.znaki {
    margin-top: 130px;
}
.review {
    margin-left: 7%;
    margin-top: 0px;
    margin-right: 0;
}
.strel1 {
    transform: translate(25px, 190px);
}
.strel2 {
    transform: translate(330px, 190px);
}
.reservation {
    margin-top: 0;
    margin-right: 0;
    margin-left: 7%;
}
.dish3 {
    width: 90%;
    min-width: 700px;
    height: auto;
    transform: translate(-500px, -6500px);
    position: relative;
}
.to_reserv {
    height: 1000px;
}
fieldset {
    margin-top: 700px;
    width: 100%;
    margin-left: 10px;
}
.contact {
    margin-top: 700px;
    margin-left: 7%;
    margin-right: auto;
    padding: 0 20px;
}
.one {
    width: 50%;
    min-width: 340px
}
.two {
    width: 33%;
    min-width: 223px
}
.three {
    width: 100%;
    min-width: 700px;
}
label {
    font-size: 16px;
}
.discount {
    margin-right: 0px;
    width: 800px;
    margin-left: 7%;
}
.reserv {
    width: 89%;
    min-width: 700px;
    font-size: 18px;
}
.napitochki {
    width: 365px;
    height: 400px;
    object-fit: cover;
    margin-left: 5%;
}
.questions {
    margin-left: 0;
    gap: 0;
}
.instagram, .telegram, .vk, .youtube {
    width: 46px;
    height: 46px;
}
footer {
    margin-top: 0;
    width: 100%;
    min-width: 850px;
    height: auto;
    bottom: 0;
    padding-left: 0;
    padding-left: 50px;
}
.about_rest {
    grid-template-columns: 0.6fr 1fr 1fr;
}
.rest, .rest1 {
    gap: 8px;
    margin-left: 50px;
    width: auto;
}
.name_rest {
    width: 100%;
}
.nn {
    height: auto;
    font-size: 19vw;
    margin-left: 0;
    text-align: center;
}
.order {
    height: auto;
    width: 100%;
    font-size: 16px;
}
.end {
    width: 740px;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
}
.en {
    left: 20%;
    position: relative;
    justify-items: left;
}
.tytle {
    width: 90%;
}
/* ГПТ */
* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    padding: 0 0; /* Добавляем отступы по краям */
}
	
}

@media (max-width: 400px){
header {
    margin: 0 auto;
    padding: 10px 7%;
    width: 100%;
    max-width: 1024px;
    height: 68px;
}
.field {
    gap: 30px;
}
.menu {
    display: none;
}   
.mimi {
    display: none;
} 
.logo {
    width: 94px;
    height: 28px;
    padding: 10px;
    gap: 22px
 }
.hello {
    width: 94px;
    height: 28px;
    font-weight: 400;
    font-size: 20px;
 }
.burger-icon {
    width: 36px;
    margin-top: 36px;
    margin-left: 100px;
    gap: 20px;
    display: flex;
    justify-content: right;
}
.banner {
    width: 290px;
    height: 390px;
    margin-top: 100px;
    margin-left: 15px;
}
.krevetka {
    width: 70px;
    height: 190px;
    transform: rotate(-40deg)
}
.logo2 {
    font-size: 62px;
}
h2 {
    font-size: 42px;
}
.fish_rest {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
}
.fish {
    grid-row: 1;
    margin-bottom: 0;
    width: auto;
}
.restaurant {
    grid-row: 2;
    margin-top: 0;
    width: auto;
}

}
